{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Attendance Increase Web-Application</title>
		<link rel="stylesheet" type="text/css" href="{% static 'App/Styles/Base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'QR/Styles/QR.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'App/Pictures/favicon.ico' %}">
		{% load templates %}
	</head>
	<body>
		<header class="header-image"></header>
		<main>
			<div class="logo">
				<div class="logo-gradient">
					<div class="logo-picture"></div>
				</div>
			</div>
			<div class="wrapper">
				{% generateQR %}
				<p>Ваш код:</p>
				<div class="qr" style="background-image: url('{% getInfo 'login' as login %}{% with 'QR/Pictures/'|add:login|add:'_QR.png' as url %}{% static url %}{% endwith %}'), linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));"></div>
			</div>
		</main>
	</body>
</html>