.logo-photo
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../Pictures/nophoto.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0;
}

.info
{
	width: calc(75vw + 2em);
	font-family: Roboto, sans-serif;
	font-size: 1em;
}


.name
{
	text-align: center;
}

.points
{
	text-align: center;
	margin-top: 0.5em;
}

.button
{
	display: flex;
	width: calc(75vw + 2em);
	height: 2em;
	margin-top: 1em;
	background-color: rgba(255, 255, 255, 1);
	border: 0;
	border-radius: 5em;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	font-family: "BebasNeue Bold", Roboto, sans-serif;
	font-size: 1.5em;
	justify-content: center;
	align-items: center;
}

.button:focus-visible
{
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2),
	0 0 0 1pt rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2),
	0 0 0 1pt rgba(255, 255, 255, 1);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2),
	0 0 0 1pt rgba(255, 255, 255, 1);
	outline: 0;
}

.exit
{
	color: #FFF;
	background-color: rgba(139, 0, 0, 0.84);
	margin-top: 2em;
	float: right;
	width: calc(50vw + 2em);
}