/* Fonts */
@font-face
{
font-family: "BebasNeue Regular";
src: url("../Fonts/BebasNeue/BebasNeue Regular.ttf");
src: url("../Fonts/BebasNeue/BebasNeue Regular.otf") format("opentype");
}

@font-face
{
font-family: "BebasNeue Bold";
src: url("../Fonts/BebasNeue/BebasNeue Bold.ttf");
src: url("../Fonts/BebasNeue/BebasNeue Bold.otf") format("opentype");
}

@font-face
{
font-family: "BebasNeue Book";
src: url("../Fonts/BebasNeue/BebasNeue Book.ttf");
src: url("../Fonts/BebasNeue/BebasNeue Book.otf") format("opentype");
}

@font-face
{
font-family: "BebasNeue Light";
src: url("../Fonts/BebasNeue/BebasNeue Light.ttf");
src: url("../Fonts/BebasNeue/BebasNeue Light.otf") format("opentype");
}

@font-face
{
font-family: "BebasNeue Thin";
src: url("../Fonts/BebasNeue/BebasNeue Thin.ttf");
src: url("../Fonts/BebasNeue/BebasNeue Thin.otf") format("opentype");
}

.force-selectable
{
	-webkit-user-select: all; /* Blink & Firefox */
	user-select: all; /* Other */
}

.unselectable
{
	-webkit-touch-callout: none;	/* iOS Safari */
	-webkit-user-select: none;		/* Chrome, Safari & ssOpera */
	-khtml-user-select: none;		/* Konqueror */
	-moz-user-select: none;			/* Firefox */
	-ms-user-select: none;			/* Internet Explorer & Edge */
	user-select: none;				/* Other */
	pointer-events: none;			/* Images */ 
}

*
{
	margin: 0;
	padding: 0;
	color: #333;
}

html
{
	width: 100%;
	height: 100%;
	background-color: rgb(217, 217, 217);
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar
{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html
{
  -ms-overflow-style: none;		/* IE and Edge */
  scrollbar-width: none;		/* Firefox */
}

body
{
	width: 100%;
	height: 100%;
}

a
{
	text-decoration: none;
}

.header-image
{
	width: 100vw;
	height: 45vw;
	background-image: linear-gradient(to top, rgba(139, 0, 0, 0.54), rgba(139, 0, 0, 0.54)),
		url("../Pictures/background.jpg");
	background-size: cover, contain;
	background-repeat: no-repeat, no-repeat;
}

.logo
{
	display: inline-block;
	width: 30vw;
	height: 30vw;
	background-color: rgb(217, 217, 217);
	border-radius: 100%;
	margin: -12vw 0 0 calc(50vw - 15vw);
}

.logo-gradient
{
	width: 25vw;
	height: 25vw;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(217, 217, 217, 1));
	border-radius: 100%;
	margin: 2.5vw;
	position: absolute;
}

.logo-picture
{
	width: 18vw;
	height: 18vw;
	background-image: url("../Pictures/logo.png");
	margin: 3.5vw;
	background-size: contain;
    background-repeat: no-repeat;
}